$sfr: 'slide-from-right';
.#{$sfr}-enter-active,
.#{$sfr}-leave-active {
  transition: transform 0.2s ease-in-out;
}
.#{$sfr}-enter-from {
  transform: translateX(100vw);
}
.#{$sfr}-enter-to {
  transform: translateX(0);
}

$f: 'fade';
.#{$f}-enter-active,
.#{$f}-leave-active {
  transition: opacity 0.1s ease-in-out;
}
.#{$f}-enter-from,
.#{$f}-leave-to {
  opacity: 0;
}
.#{$f}-enter-to,
.#{$f}-leave-from {
  opacity: 1;
}

$bk: 'background-shadow';
.#{$bk}-enter-active,
.#{$bk}-leave-active {
  transition: background-color 0.1s;
}
.#{$bk}-enter-from,
.#{$bk}-leave-to {
  background-color: rgba(0, 0, 0, 0);
}

$z: 'zoom';
.#{$z}-enter-active,
.#{$z}-leave-active {
  transition: all 0.1s ease-in;
}
.#{$z}-enter-from,
.#{$z}-leave-to {
  transform: scale(0.95);
  opacity: 0;
}
.#{$z}-enter-to,
.#{$z}-leave-from {
  transform: scale(1);
  opacity: 1;
}

$ie: 'index-enter';
.#{$ie}-enter-active,
.#{$ie}-leave-active {
  transition: opacity 0.1s ease-in-out, transform 0.3s ease-in-out;
  transform-origin: top;
}
.#{$ie}-leave-from {
  opacity: 1;
}
.#{$ie}-leave-to {
  opacity: 0;
}
.#{$ie}-enter-from {
  transform: scaleY(0);
}
.#{$ie}-enter-to {
  transform: scaleY(1);
}

$il: 'index-leave';
.#{$il}-enter-active,
.#{$il}-leave-active {
  transition: opacity 0.1s ease-in-out, transform 0.3s ease-in-out;
  transform-origin: top;
}
.#{$il}-leave-from {
  transform: scaleY(1);
}
.#{$il}-leave-to {
  transform: scaleY(0);
}
.#{$il}-enter-from {
  opacity: 0;
}
.#{$il}-enter-to {
  opacity: 1;
}

$hhr: 'header-hr';
.#{$hhr}-enter-active,
.#{$hhr}-leave-active {
  transition: opacity 0.3s step-end;
  height: 0;
}
.#{$hhr}-enter-from,
.#{$hhr}-leave-to {
  opacity: 0;
}
.#{$hhr}-enter-to,
.#{$hhr}-leave-from {
  opacity: 1;
}
