@import '_variables';
@import '_transition';
@import '../node_modules/ress/ress.css';

$min-font-size: 16px;
$max-font-size: 22px;
$min-font-size-width: 860px;
$max-font-size-width: 1280px;
$font-size-diff: $max-font-size - $min-font-size;
$width-diff: $max-font-size-width - $min-font-size-width;
$font-size-width-ratio: $font-size-diff / $width-diff;

html {
  font-size: $min-font-size;
  @media (min-width: $min-font-size-width) {
    font-size: calc(
      1rem + ((100vw - #{$min-font-size-width}) * #{$font-size-width-ratio})
    );
  }
  @media (min-width: $max-font-size-width) {
    font-size: $max-font-size;
  }
}

html {
  color: $default-font-theme;
  font-family: 'Helvetica Neue', 'Helvetica', 'Hiragino Sans',
    'Hiragino Kaku Gothic ProN', 'Arial', 'Yu Gothic', 'Meiryo', sans-serif;
  font-feature-settings: 'pwid' 1;
}

html,
body {
  height: 100%;
}

ul {
  list-style: none;
  ul {
    padding-left: 1em;
  }
}

li {
  margin: 0.1em 0;
  &::before {
    content: '';
    display: inline-block;
    height: 1em;
    width: 1em;
    background-size: contain;
  }
}

$s: 'li';
@for $i from 0 through 5 {
  #{$s}::before {
    $r: $i % 3;
    @if $r == 0 {
      background-image: url('/magatama-green.svg');
    } @else if $r == 1 {
      background-image: url('/magatama-blue.svg');
    } @else {
      background-image: url('/magatama-red.svg');
    }
  }
  $s: #{$s 'li'};
}

a {
  color: $link-font-theme;
}
