:root {
  --vp-font-family-base: 'Inter', 'Hiragino Sans', 'Hiragino Kaku Gothic ProN',
    'Arial', 'Yu Gothic', 'Meiryo', ui-sans-serif, system-ui, sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  font-feature-settings: 'pwid' 1;
}

:root {
  --s-curly-font: 'Atma', cursive;
  --s-primary-theme-green: #4cd9aa;
  --s-primary-theme-blue: #4cc2d9;
  --s-primary-theme-red: #d94c5a;
  --s-default-font-theme: #0d3f2f;
  --s-link-font-theme: #1a6e7f;
}

.VPNavBarTitle > .title,
.VPNav .VPLink {
  font-family: var(--s-curly-font);
  font-size: 1.2rem;
}

.home .VPContent {
  display: flex;
}

.vp-doc h1,
.vp-doc h2,
.vp-doc h3,
.vp-doc h4,
.vp-doc h5,
.vp-doc h6,
h1.style,
h2.style,
h3.style,
h4.style,
h5.style,
h6.style {
  font-family: var(--s-curly-font);
  letter-spacing: 0;
}

.vp-doc ul,
ul.style {
  list-style: none !important;
  padding-left: 0 !important;
  ul {
    padding-left: 1em !important;
  }

  li {
    margin: 0.1em 0;
    &::before {
      content: '';
      display: inline-block;
      height: 1em;
      width: 1em;
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      margin-bottom: -0.1em;
    }
  }

  li::before,
  li li li li::before {
    background-image: url('./assets/magatama-green.svg');
  }
  li li::before,
  li li li li li::before {
    background-image: url('./assets/magatama-blue.svg');
  }
  li li li::before {
    background-image: url('./assets/magatama-red.svg');
  }
}

figcaption {
  font-size: 0.9rem;
  text-align: center;
}

.vp-doc a,
a.style {
  text-decoration: underline dotted 1.5px;
  text-decoration-skip-ink: none;
  text-underline-position: under;
}

.twitter-tweet {
  border-radius: 12px;
  overflow: hidden;
}
